In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

In [2]:
#Read the data into a dataframe
df = pd.read_csv("epl-dataset/epl2020.csv")

In [3]:
df.head()

   Unnamed: 0 h_a        xG       xGA      npxG     npxGA  deep  deep_allowed  scored  missed    xpts result                 date  wins  draws  loses  pts     npxGD       teamId   ppda_cal  allowed_ppda  matchtime  tot_points  round  tot_goal  tot_con Referee.x  HS.x  HST.x  HF.x  HC.x  HY.x  HR.x  AS.x  AST.x  AF.x  AC.x  AY.x  AR.x  B365H.x  B365D.x  B365A.x  HtrgPerc  AtrgPerc matchDay
0           1   h  2.234560  0.842407  2.234560  0.842407    11             5       4       1  2.3863      w  2019-08-09 20:00:00     1      0      0    3  1.392153    Liverpool   5.942857     21.454545         20           3      1         4        1  M Oliver    15      7     9    11     0     0    12      5     9     2     2     0     1.14     10.0    19.00  0.466667  0.416667      Fri
1           2   a  0.842407  2.234560  0.842407  2.234560     5            11       1       4  0.4405      l  2019-08-09 20:00:00     0      0      1    0 -1.392153      Norwich  21.454545      5.942857         20           0      1         1        4  M Oliver    15      7     9    11     0     0    12      5     9     2     2     0     1.14     10.0    19.00  0.466667  0.416667      Fri
2           3   a  3.183770  1.200300  2.422640  1.200300     9             1       5       0  2.6312      w  2019-08-10 12:30:00     1      0      0    3  1.222340     Man City   6.935484     16.400000         12           3      1         5        0    M Dean     5      3     6     1     2     0    14      9    13     1     2     0    12.00      6.5     1.22  0.600000  0.642857      Sat
3           4   h  1.200300  3.183770  1.200300  2.422640     1             9       0       5  0.2522      l  2019-08-10 12:30:00     0      0      1    0 -1.222340     West Ham  16.400000      6.935484         12           0      1         0        5    M Dean     5      3     6     1     2     0    14      9    13     1     2     0    12.00      6.5     1.22  0.600000  0.642857      Sat
4           5   h  1.340990  1.598640  1.340990  1.598640     4             6       1       1  1.0172      d  2019-08-10 15:00:00     0      1      0    1 -0.257650  Bournemouth  13.600000      9.133333         15           1      1         1        1  K Friend    13      3    10     3     2     0     8      3    19     4     1     0     1.95      3.6     3.60  0.230769  0.375000      Sat